# Alda binaries install location (relative to project root or absolute).
ALDA_HOME="./bin"

# Alda release CDN.
ALDA_RELEASES_URL="https://alda-releases.nyc3.digitaloceanspaces.com"

# Binary names (generally no need to change).
ALDA="alda"
ALDA_PLAYER="alda-player"

# Optional: override auto-detected platform.
# Leave commented to auto-detect from uname.
# ALDA_OS=""       # darwin | linux | windows
# ALDA_ARCH=""     # amd64 | arm64
